USE [master]
GO
/****** Object:  Database [CHUNGKHOANG]    Script Date: 8/2/2022 4:45:39 PM ******/
CREATE DATABASE [CHUNGKHOANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHUNGKHOANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER\MSSQL\DATA\CHUNGKHOANG.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CHUNGKHOANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER\MSSQL\DATA\CHUNGKHOANG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHUNGKHOANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHUNGKHOANG]
GO
/****** Object:  Table [dbo].[BANGGIATRUCTUYEN]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIATRUCTUYEN](
	[MACP] [nchar](7) NOT NULL,
	[GIAMUA1] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAMUA1]  DEFAULT ((0)),
	[KLMUA1] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLMUA1]  DEFAULT ((0)),
	[GIAMUA2] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAMUA2]  DEFAULT ((0)),
	[KLMUA2] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLMUA2]  DEFAULT ((0)),
	[GIAMUA3] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAMUA3]  DEFAULT ((0)),
	[KLMUA3] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLMUA3]  DEFAULT ((0)),
	[GIAKL] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIAKL]  DEFAULT ((0)),
	[KLKL] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLKL]  DEFAULT ((0)),
	[TANGGIAMKL] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_TANGGIAMKL]  DEFAULT ((0)),
	[GIABAN1] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIABAN1]  DEFAULT ((0)),
	[KLBAN1] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLBAN1]  DEFAULT ((0)),
	[GIABAN2] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIABAN2]  DEFAULT ((0)),
	[KLBAN2] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLBAN2]  DEFAULT ((0)),
	[GIABAN3] [float] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_GIABAN3]  DEFAULT ((0)),
	[KLBAN3] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_KLBAN3]  DEFAULT ((0)),
	[TONGKL] [int] NULL CONSTRAINT [DF_BANGGIATRUCTUYEN_TONGKL]  DEFAULT ((0)),
 CONSTRAINT [PK_BANGGIATRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[V_DS_MACP]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_MACP] 
AS
	SELECT DISTINCT MACP
		FROM LENHDAT
GO
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [GIAMUA1], [KLMUA1], [GIAMUA2], [KLMUA2], [GIAMUA3], [KLMUA3], [GIAKL], [KLKL], [TANGGIAMKL], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3], [TONGKL]) VALUES (N'ABC    ', 5000, 3000, 0, 0, 0, 0, 5000, 450, 0, 9000, 450, 10000, 50, 0, 0, 2600)
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [GIAMUA1], [KLMUA1], [GIAMUA2], [KLMUA2], [GIAMUA3], [KLMUA3], [GIAKL], [KLKL], [TANGGIAMKL], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3], [TONGKL]) VALUES (N'ABCT   ', 5000, 50, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [GIAMUA1], [KLMUA1], [GIAMUA2], [KLMUA2], [GIAMUA3], [KLMUA3], [GIAKL], [KLKL], [TANGGIAMKL], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3], [TONGKL]) VALUES (N'MBB    ', 5000, 50, 4000, 50, 0, 0, 5000, 50, 0, 0, 0, 0, 0, 0, 0, 50)
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (1, N'MBB    ', CAST(N'2022-05-05 00:00:00.000' AS DateTime), N'M', N'LO        ', 50, 5000, N'Khớp lệnh 1 phần')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (2, N'ABC    ', CAST(N'2022-05-05 00:00:00.000' AS DateTime), N'B', N'LO        ', 0, 5000, N'Khớp hết')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (3, N'MBB    ', CAST(N'2022-05-05 00:00:00.000' AS DateTime), N'M', N'LO        ', 50, 4000, N'Chờ khớp')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (1, CAST(N'2022-05-05 00:52:46.447' AS DateTime), 50, 5000, 1)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (2, CAST(N'2022-05-05 01:06:14.720' AS DateTime), 100, 7000, 6)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (3, CAST(N'2022-05-05 01:49:18.847' AS DateTime), 50, 4000, 4)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN]  WITH CHECK ADD  CONSTRAINT [CK_BANGGIATRUCTUYEN] CHECK  (([GIAMUA1]>=(0) AND [KLMUA1]>=(0) AND [GIAMUA2]>=(0) AND [KLMUA2]>=(0) AND [GIAMUA3]>=(0) AND [KLMUA3]>=(0) AND [GIABAN1]>=(0) AND [KLBAN1]>=(0) AND [GIABAN2]>=(0) AND [KLBAN2]>=(0) AND [GIABAN3]>=(0) AND [KLBAN3]>=(0) AND [GIAKL]>=(0) AND [KLKL]>=(0) AND [TANGGIAMKL]>=(0) AND [TONGKL]>=(0)))
GO
ALTER TABLE [dbo].[BANGGIATRUCTUYEN] CHECK CONSTRAINT [CK_BANGGIATRUCTUYEN]
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CursorLoaiGD]
	@OutCrsr CURSOR VARYING	OUTPUT,
	@macp NVARCHAR(10), @Ngay DATETIME, @LoaiGD CHAR(1)
AS
	SET DATEFORMAT DMY
	IF (@LoaiGD = 'M')
		SET @OutCrsr = CURSOR KEYSET FOR 
		SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
		WHERE MACP = @macp
			AND CAST(NGAYDAT AS DATE) = CAST(@Ngay AS DATE)--DAY(NGAYDAT) = DAY(@Ngay) AND MONTH(NGAYDAT) = MONTH(@Ngay) AND YEAR(NGAYDAT) = YEAR(@Ngay)
			AND LOAIGD = @LoaiGD AND SOLUONG > 0
			ORDER BY GIADAT DESC, NGAYDAT --Sắp xếp giá đặt từ cao xuống, Time tu nhanh den cham
	ELSE 
		SET @OutCrsr = CURSOR KEYSET FOR 
		SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
		WHERE MACP = @macp
			AND CAST(NGAYDAT AS DATE) = CAST(@Ngay AS DATE)--DAY(NGAYDAT) = DAY(@Ngay) AND MONTH(NGAYDAT) = MONTH(@Ngay) AND YEAR(NGAYDAT) = YEAR(@Ngay)
			AND LOAIGD = @LoaiGD AND SOLUONG > 0
			ORDER BY GIADAT, NGAYDAT
	OPEN @OutCrsr 
GO
/****** Object:  StoredProcedure [dbo].[SP_CLEAR_BANGGIA]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CLEAR_BANGGIA]
AS
	BEGIN
	TRUNCATE TABLE dbo.BANGGIATRUCTUYEN
	DECLARE @MACP CHAR(7)

	DECLARE CurVar CURSOR FOR (SELECT DISTINCT MACP FROM dbo.LENHDAT)

	OPEN CurVar

	FETCH NEXT FROM CurVar INTO @MACP
	WHILE (@@FETCH_STATUS <> -1)
		BEGIN
			INSERT INTO dbo.BANGGIATRUCTUYEN
			        (MACP)
			VALUES (@MACP)

			DECLARE @GIAKHOP FLOAT, @KLKHOP INT, @TANGGIAMKL FLOAT, @TONGKL INT
			SET @GIAKHOP = (SELECT TOP(1) LK.GIAKHOP
						FROM dbo.LENHKHOP LK INNER JOIN dbo.LENHDAT LD ON LK.IDLENHDAT = LD.ID
						WHERE LD.MACP = @MACP AND CAST(LK.NGAYKHOP AS DATE) = CAST(FORMAT(GETDATE(), 'yyyy-MM-dd') AS DATE)
						ORDER BY LK.IDKHOP DESC)
			SET @KLKHOP = (SELECT TOP(1) LK.SOLUONGKHOP
						FROM dbo.LENHKHOP LK INNER JOIN dbo.LENHDAT LD ON LK.IDLENHDAT = LD.ID
						WHERE LD.MACP = @MACP AND CAST(LK.NGAYKHOP AS DATE) = CAST(FORMAT(GETDATE(), 'yyyy-MM-dd') AS DATE)
						ORDER BY LK.IDKHOP DESC)
			SET @TANGGIAMKL = @GIAKHOP - (SELECT TOP(1) LK.GIAKHOP
						FROM dbo.LENHKHOP LK INNER JOIN dbo.LENHDAT LD ON LK.IDLENHDAT = LD.ID
						WHERE LD.MACP = @MACP AND DAY(LK.NGAYKHOP)=(DAY(GETDATE())-1) AND MONTH(LK.NGAYKHOP)=MONTH(GETDATE()) AND YEAR(LK.NGAYKHOP)=YEAR(GETDATE())
						ORDER BY LK.IDKHOP DESC)
			SET @TONGKL = ((SELECT TONGKL = SUM(LK.SOLUONGKHOP)
						FROM dbo.LENHKHOP LK INNER JOIN dbo.LENHDAT LD ON LK.IDLENHDAT = LD.ID
						WHERE LD.MACP = @MACP AND CAST(LK.NGAYKHOP AS DATE) = CAST(FORMAT(GETDATE(), 'yyyy-MM-dd') AS DATE)))

			--đổi sang insert nó bị sai :(
			UPDATE dbo.BANGGIATRUCTUYEN 
			SET GIAKL = @GIAKHOP, KLKL = @KLKHOP
			WHERE MACP = @MACP AND @GIAKHOP>0 AND @KLKHOP>0

			UPDATE dbo.BANGGIATRUCTUYEN 
			SET TANGGIAMKL = @TANGGIAMKL
			WHERE MACP = @MACP AND (@TANGGIAMKL>0 OR @TANGGIAMKL<0)

			UPDATE dbo.BANGGIATRUCTUYEN 
			SET TONGKL = @TONGKL
			WHERE MACP = @MACP AND @TONGKL>0
			--JUMP
			FETCH NEXT FROM CurVar INTO @MACP
		END
	CLOSE CurVar
	DEALLOCATE CurVar
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KHOPLENH_LO]
	@macp NVARCHAR(10), @Ngay DATETIME, @LoaiGD CHAR(1),
	@soluongMB INT, @giadatMB FLOAT 
AS
	SET DATEFORMAT DMY
	DECLARE @CrsrVar CURSOR, @ngaydat DATETIME, @soluong INT,
	@giadat	FLOAT, @soluongkhop INT, @giakhop FLOAT, @ID INT, @sumsoluongkhop INT, @khoped BIT

	SET @sumsoluongkhop = 0
	SET @khoped = 0

	IF(@LoaiGD = 'B')--Nếu bán thì nó sẽ chạy sp và xem thằng mua nào đặt trước với giá cao nhất 
		EXEC CursorLoaiGD @CrsrVar OUTPUT, @macp, @Ngay, 'M'
	ELSE --còn mua thì ngược lại
		EXEC CursorLoaiGD @CrsrVar OUTPUT, @macp, @Ngay, 'B'
	FETCH NEXT FROM @CrsrVar INTO @ID, @ngaydat, @soluong, @giadat
	--select @ID, @ngaydat, @soluong, @giadat cua bang lenhdat tao thanh 1 bang roi dua con tro vao bang do
	WHILE(@@FETCH_STATUS <>-1 AND @soluongMB > 0)
	BEGIN
		IF(@LoaiGD = 'B')--nếu gia dịch là bán
			BEGIN
				IF(@giadatMB <= @giadat)
					BEGIN
						IF(@soluongMB >= @soluong)
							BEGIN
								SET @soluongkhop = @soluong
								SET @giakhop = @giadat
								SET @soluongMB = @soluongMB - @soluong
								UPDATE dbo.LENHDAT 
									SET SOLUONG = 0,TRANGTHAILENH = N'Khớp hết'
									WHERE CURRENT OF @CrsrVar
								SET @khoped = 1
							END
						ELSE
							BEGIN
								SET @soluongkhop = @soluongMB
								SET @giakhop = @giadat
								UPDATE dbo.LENHDAT
									SET SOLUONG = SOLUONG - @soluongMB,TRANGTHAILENH = N'Khớp lệnh 1 phần'
									WHERE CURRENT OF @CrsrVar
									SET @soluongMB = 0
								SET @khoped = 1
							END
						--SELECT @soluongkhop, @giakhop
						SET @sumsoluongkhop = @sumsoluongkhop + @soluongkhop
						--Update table LENHKHOP
						INSERT INTO LENHKHOP(NGAYKHOP, SOLUONGKHOP, GIAKHOP, IDLENHDAT)
								VALUES (GETDATE(),@soluongkhop, @giakhop, @ID)
				
					END
				ELSE
					GOTO THOAT
				END
			
		-- Còn Trường hợp lệnh gởi vào là lệnh MUA
		ELSE
			BEGIN
				IF(@giadatMB >= @giadat)
					BEGIN
						IF(@soluongMB >= @soluong)
							BEGIN
								SET @soluongkhop = @soluong
								SET @giakhop = @giadat
								SET @soluongMB = @soluongMB - @soluong
								UPDATE dbo.LENHDAT 
									SET SOLUONG = 0,TRANGTHAILENH = N'Khớp hết'
									WHERE CURRENT OF @CrsrVar
								SET @khoped = 1
							END
						ELSE
							BEGIN
								SET @soluongkhop = @soluongMB
								SET @giakhop = @giadat
								UPDATE dbo.LENHDAT
									SET SOLUONG = SOLUONG - @soluongMB,TRANGTHAILENH = N'Khớp lệnh 1 phần'
									WHERE CURRENT OF @CrsrVar
									SET @soluongMB = 0
								SET @khoped = 1
							END
						--SELECT @soluongkhop, @giakhop
						SET @sumsoluongkhop = @sumsoluongkhop + @soluongkhop
						--Update table LENHKHOP
						INSERT INTO LENHKHOP(NGAYKHOP, SOLUONGKHOP, GIAKHOP, IDLENHDAT)
								VALUES (GETDATE(),@soluongkhop, @giakhop, @ID)
				
					END
				ELSE
					GOTO THOAT
				END
			
		FETCH NEXT FROM @CrsrVar INTO @ID, @ngaydat, @soluong, @giadat
	END
	
	THOAT:
	--Cập nhật table LENHDAT nếu số lượng mua bán > 0
	IF(@soluongMB>0)
	BEGIN
		IF(@khoped = 1)
			BEGIN
				INSERT INTO LENHDAT(MACP, NGAYDAT, LOAIGD, LOAILENH, SOLUONG, GIADAT, TRANGTHAILENH)
				VALUES(@macp, @Ngay, @LoaiGD, 'LO', @soluongMB, @giadatMB, N'Khớp lệnh 1 phần')
			END
		ELSE
			BEGIN
				INSERT INTO LENHDAT(MACP, NGAYDAT, LOAIGD, LOAILENH, SOLUONG, GIADAT, TRANGTHAILENH)
				VALUES(@macp, @Ngay, @LoaiGD, 'LO', @soluongMB, @giadatMB, N'Chờ khớp')
			END
	END
		RETURN @sumsoluongkhop
		CLOSE @CrsrVar 
		DEALLOCATE @CrsrVar
GO
/****** Object:  StoredProcedure [dbo].[SP_REFRESH_BANGGIA_WITHOUT_DATA_CHANGE]    Script Date: 8/2/2022 4:45:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REFRESH_BANGGIA_WITHOUT_DATA_CHANGE]
AS
BEGIN
	--update trạng thái cho lệnh đặt 'chờ khớp' khác phiên
	UPDATE dbo.LENHDAT 
	SET TRANGTHAILENH = N'Chưa khớp' 
	WHERE TRANGTHAILENH = N'Chờ khớp' AND CAST(NGAYDAT AS DATE) <> CAST(GETDATE() AS DATE)

	--chạy trigger AfterModify_LENHDAT
	UPDATE dbo.LENHDAT 
	SET LOAILENH = LOAILENH 
	WHERE 1 = 1
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BANGGIATRUCTUYEN', @level2type=N'CONSTRAINT',@level2name=N'CK_BANGGIATRUCTUYEN'
GO
USE [master]
GO
